#container {
    margin: 0 auto;
    max-width: 50%;
}

#container__form {
    display: flex;
    flex-direction: column;
}

.container__form--field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3px;
}

.campo-texto {
    width: 80%
}

#container__acciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

#container__acciones > button {
    width: 100%;
}
body{
    background-color: #525252;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}